
body {
    font-family:'Libre Bodoni', serif;
    display: grid;
    row-gap: 10px;
    align-content: center;
    background-color: rgb(24, 25, 26);
    
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
/********** Navigation **********/
nav {
    
    color: #faf3dd;
    text-decoration: none;
    text-align: center; 
    display: flex; 
    flex-direction: column;
    padding: .5em;
    line-height: 1.7em;
    margin: 4px;
}
nav ul li a {
    color: #faf3dd; 
    text-decoration: none;
    display: block; 
    
}
nav ul {
	list-style-type: none;
    flex: 1 1 auto;
}




nav button {
    background: transparent;
    font-size: 1rem;
    color:  #faf3dd;
}
.primaryNav {
    list-style: none;
    text-align: center;
    padding: 0;
}

.primaryNav li {
    display: none;
}
.responsive li {
    display: block;
}

/********** Header **********/
header {
    color: #faf3dd;
    font-family:'Libre Bodoni', serif;
    
    text-align: center;
    margin: 5px; 
    padding: .5em;
    border-radius: .5em .5em 0em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 18px;
	cursor: pointer;
    background-color: #faf3dd;
    border-radius: 1px;
    border-bottom: black;
    color: black;
    padding: 10px;
}

h1 {
    text-align: center;
}

img {
    margin: 10px;
    max-width: 350px;
    border-radius: .5em;
    grid-column: 1;
}

 main {
    background-color: hsl(240, 1%, 33%);
    color: black;
 }

/********** List **********/

 /* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }





/********** Form **********/


 form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, 
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.top input, 
form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


/********** Footer **********/
footer {
    color: #faf3dd;
    font-family:'Libre Bodoni', serif;
    
    text-align: center;
    padding: .5em;
    border-radius: 0em 0em .5em .5em ;
}
